<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/initreset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/component.css">
	<link href="https://fonts.googleapis.com/css?family=Dhurjati" rel="stylesheet">
	<link href="/stylesheets/webzine.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script><script type="text/javascript" src="/javascripts/webzine.js"> </script>
	<title>
		Nouvelle Vague
	</title>
</head>
<body>
	
<div class="mask"></div>

	
	<div class="window auth-container" id="signup-box">
		<h1>Sign up</h1>
		<form id="signup-form" action="/auth/signup" method="post">
		  <div class="input-group">
			<input id="signup-name" type="text" name="name" placeholder="Full name"></div>  
		  <div class="input-group">
			<input id="signup-email" type="email" name="email"placeholder="Email"></div>
		  <div class="input-group">
			<input id="signup-password" type="password" name="password"  placeholder="password">
		  </div>
		  <div class="input-group">
			<input id="confirm-password" type="password" name="confirm"  placeholder="confirm password">
		  </div>
		  <div class="auth-res" id="signup-res">
			  
		  </div>
		  <div class="auth-submit">Next</div>
		  
		</form>
	</div>
	<div class="window auth-container" id="login-box">
		<h1>Sign in</h1>
		<form id="login-form" action="/auth/login" method="post">
		  <div class="input-group">
			<input id="login-email" type="email" name="email" placeholder="Email"></div>
		  <div class="input-group">
			<input id="login-password" type="password" name="password"  placeholder="password">
		  </div>
		  
		  <div class="auth-res" id="login-res">
		  </div>
		  <div class="auth-submit" >Login</div>

		</form>
	</div>
	<div class="window board-container" id="write-box">
		<h1>Sign up</h1>
		<form id="write-form" action="/board/write" method="post">
		  <div class="input-group">
			<input id="write-title" type="text" name="title" placeholder="Title "> 
		  </div>
		  <div class="input-group">
			<textarea id="write-description" rows="4" cols="50" name="description" placeholder="contents"></textarea>
		  </div>
		  <div class="input-group">
			<div id="write-label"></div>
			<input id="write-tags" type="text" name="tags" placeholder="tags" >
				
		  </div>
		  <div class="input-group">
			<input id="write-mainImg" type="file" accept="image/*" name="mainImg">
		  </div>
		  <div class="input-group">
			<input id="write-posterImg" type="file" accept="image/*" name="posterImg">
		  </div>
		  <div class="input-group">
			<input id="write-previewImg" type="file" accept="image/*" name="previewImg">
		  </div>
		  <div class="auth-res" id="write-res">
			  
		  </div>
		  <div class="auth-submit">작성하기</div>
		  
		</form>
	</div>
	<!-- window클래스 디자인 변경 -->
    <div class="window article-container">
    	<div id="article-wrap">
    		<article>
    			<div class="post">
    			<div class="title">
					<!-- <div class="input-group">
						<input class></input>
					</div> -->
    				<div class="date">Jun 14, 2018</div>
    				<span class="postname">It's a Wonderful Life</span>
    				<div class="postby">
    					by.
    					<span class="auth">
    					 	
    					</span>
    				</div>
    				<div class="views">
    					views. 
    					<span class="views">
    					
    					</span>

    				</div>
    				<div class="like">
    					<div class="stage">
  							<div class="heart"></div>
						</div>	
    				</div>
    			</div>
    			<div class="posttxt">
    				<div class="content">
    					<img style="width: 100%;">
    					<p>
						</p>
    				</div>
    				<div class="relatedposts">
    					<h3></h3>
    					<ul>
    						<li>
    							
    						</li>
    					</ul>
    				</div>	
    				<div class="tags">
    					<h1>#Tags</h1>
    					<ul>
    						
    					</ul>
    				</div>
    				
    				
    				<div class="widebottom"></div>
    			</div>
    			</div>
    			<div class="next-article">
    				<h1>Next post</h1>
    				<ul class="stage clearfix">
					<li class="scene" id="next">
						
					</li>
					</ul>
    			</div>
    			<div class="likeposts">
    				#Like Posts
    				
    			</div>
    			<ul class="liketitle" >
    				
    			</ul>


    		</article>	 
    	</div>
    </div>
	<div class="container">
			<header>
				<nav id="menu-tab">
					<ul id="item-list">
						<li onclick="$('.scene').css('display','block');" style="width : 150px; margin: 0;">Nouvelle Vague</li>
					</ul>
					<ul>
						<li class="tab1">월간 특집</li>
						<li class="tab2">영화평론</li>	
					</ul>
					<div style="float: right;">
						<ul>
							{% if email %}
							<li id="write-btn">
								글 작성
							</li>
							<li id="logout-btn">
								로그아웃
							</li>
							
							<script>
								var email = {{ email | dump | safe }};
								
								$('#logout-btn').click(() => {
									let formData = new FormData();
									formData.append('email', email);
									axios.post('/auth/logout', formData, {
										headers: {
											'Content-Type': 'multipart/form-data'
										}
									})
									.then((res) => {
										console.log(res);
										if(res.status == 200){
											window.location.href = '/';
										}
									})
									.catch((err) => {
										console.log(err);
										window.location.href = '/';
									});
							});
							</script>
							
							{% else %}
							<li id="login-btn">
								로그인
							</li>
							<li id="signup-btn">
								회원가입
							</li>
							{% endif %}
							<!-- 카카오 로그인 기능 추가 -->
							<!-- <li class="login-btn kakao">카카오</li> -->
						</ul>
					</div>
					<div style="float: right;">
						<h1 style="float: left; font-size: 20px;"></h1>
						<ul class="tag-nav" style="overflow: hidden;">
							<li>#미국</li>
							<li>#한국</li>
							<li>#애니메이션</li>
							<li>#뮤지컬</li>
						</ul>
					</div>
					
				</nav>
				
			</header>
			<div id="logo" >
				Nouvelle Vague
			</div>
			
			<div class="wrapper">
				<div id="contents">	
					<ul class="stage clearfix">

					
					{% for post in posts %}
					<li class="scene" data-post = {{post.id}} data-tag = "">
						<div class="movie" >
							<div class="poster" style="background-image: url({{post.posterImg}});"></div>
							<div class="info">
								<header style="background-image: url({{post.previewImg}});">
									<h1>{{post.id}}</h1>
									<span class="rating">{{post.rating}}</span>
									<span class="year">{{post.year}}</span>
									<span class="duration">{{post.director}}</span>
								</header>
								<p>
									{{post.preview}}
								</p>
							</div>
						</div>
					</li>
					{% endfor %}
				
			
				</ul>
			</div>				
			</div>
	</div><!-- /container -->
</div>

</body>
</html>