<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../public/stylesheet/reset.css">
	<link rel="stylesheet" type="text/css" href="../public/stylesheet/component.css">
	<link href="https://fonts.googleapis.com/css?family=Dhurjati" rel="stylesheet">
	<link href="../public/stylesheet/webzine.css" rel="stylesheet" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../public/javascripts/webzine.js"> </script>
	<title>
		Nouvelle Vague
	</title>
</head>
<body>
	<div class="mask"></div>
	<!-- window클래스 디자인 변경 -->
    <div class="window">
    	<div id="article-wrap">
    		<article>
    			<div class="post">
    			<div class="title">
    				<div class="date">Jun 14, 2018</div>
    				<span class="postname">It's a Wonderful Life</span>
    				<div class="postby">
    					by.
    					<span class="auth">
    					 	
    					</span>
    				</div>
    				<div class="views">
    					views. 
    					<span class="views">
    					
    					</span>

    				</div>
    				<div class="like">
    					<div class="stage">
  							<div class="heart"></div>
						</div>	
    				</div>
    			</div>
    			<div class="posttxt">
    				<div class="content">
    					<img src="img/sample.jpg" style="width: 100%;">
    					<p>
						</p>
    				</div>
    				<div class="relatedposts">
    					<h3></h3>
    					<ul>
    						<li>
    							
    						</li>
    					</ul>
    				</div>	
    				<div class="tags">
    					<h1>#Tags</h1>
    					<ul>
    						
    					</ul>
    				</div>
    				
    				
    				<div class="widebottom"></div>
    			</div>
    			</div>
    			<div class="next-article">
    				<h1>Next post</h1>
    				<ul class="stage clearfix">
					<li class="scene" id="next">
						
					</li>
					</ul>
    			</div>
    			<div class="likeposts">
    				#Like Posts
    				
    			</div>
    			<ul class="liketitle" >
    				
    			</ul>


    		</article>	 
    	</div>
    </div>
	<div class="container">

			<header>
				<nav id="menu-tab">
					<ul id="item-list">
						<li  onclick="$('.scene').css('display','block');" style="width : 150px; margin: 0;">Nouvelle Vague</li>
					
					</ul>
					<ul>
						<li class="tab1">월간 특집</li>
						<li class="tab2">영화평론</li>	
					</ul>
				
					<div style="float: right;">
						<h1 style="float: left; font-size: 20px;"></h1>
						<ul class="tag-nav" style="overflow: hidden;">
							<li>#미국</li>
							<li>#한국</li>
							<li>#애니메이션</li>
							<li>#뮤지컬</li>
							<li>#코미디</li>
							<li>#OST</li>
						</ul>
					</div>
					
				</nav>
				
			</header>
			<div id="logo" >
				Nouvelle Vague
			</div>
			<div class="wrapper">
				
				<div id="contents">	
					<ul class="stage clearfix">
					<li class="scene" data-post = "1" data-tag = "">
						<div class="movie">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>It's a Wonderful Life</h1>
									<span class="year">1946</span>
									<span class="rating">PG</span>
									<span class="duration">130 minutes</span>
								</header>
								<p>
									"어릴 적 기억을 끄집어내는 데야 웨스 앤더슨이 일등이다. <다즐링 주식회사>에서 기차를, <판타스틱 Mr. 폭스>에서 땅굴을 파낸 그다. 이번엔 보이스카우트에 꽂힌 게 분명하다. 영화 속 보이스카우트 대원의 맞춤 의상과 자잘한 소품을 보는 순간, 웨스 앤더슨이 이 모든 걸 진두지휘하며 얼마나 즐거워했을지 짐작이 가고도 남는다. <문라이즈 킹덤>은 1965년 미 북동부의 한 작은 섬 뉴펜잔스로 사랑의 줄행랑을 친 소년과 소녀, 그 애틋하고 잔망스러운 첫사랑으로의 초대다. 라디오와 책, 고양이가 전부인 12살 소녀 수지(카라 헤이워드)와 사고로 가족을 잃고 위탁가정을 전전하는 보이스카우트 대원 12살 소년 샘(자레드 길먼). 둘의 인연이 시작된 건 1년 전이다. 교회 연극에서 갈까마귀로 분장한 수지에게 샘이 반했고, 펜팔이 시작됐고, 사랑의 도피를 위한 모종의 계획이 시작됐다. 뒤이은 풍랑과 도망친 소년과 소녀를 찾기 위한 마을 사람들의 행동방식, 이 모든 것들이 뒤죽박죽되면서 영화는 클라이맥스를 향해 치닫는다. 섬에 불어닥친 사상 초유의 폭풍을 맞아 명명백백하게 드러나는 건 아이들과 달리 현실적인 어른들 사이의 대립이다. 기존 웨스 앤더슨 영화에서 보아왔던 어른 같은 아이, 아이 같은 어른은 같지만, 차이라면 이번엔 아이들이 전면에 나서서 이야기를 끌어간다는 점이다. 더불어 60년대 뉴펜잔스 섬의 재연이 관건이다. 고전영화에서 볼 법한 트래킹숏과 60년대 샹송 대표주자 프랑수아 아르디의 <사랑의 시간> 같은 소스들을 한껏 취합한 뒤, 그걸 인스타그램앱에 한 시간쯤 넣고 빈티지한 색감으로 한껏 변형시킨 것 같은 모양새다. 여기에 전에 없는 명쾌한 스토리 라인이 더해지면서, <문라이즈 킹덤>은 웨스 앤더슨 영화 중 가장 대중적인 틀이 갖춰진 형태로 완성됐다.",
  
								</p>
							</div>
						</div>
					</li>

					<li class="scene"  data-post = "2" data-tag = "">
					
						<div class="movie" >
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>Vengeance Valley</h1>
									<span class="year">1951</span>
									<span class="rating">NR</span>
									<span class="duration">83 minutes</span>
								</header>
								<p>
									A cattle baron takes in an orphaned boy and raises him, causing his own son to resent the boy. As they get older the resentment festers into hatred, and eventually the real son frames his stepbrother for fathering an illegitimate child that is actually his, seeing it as an opportunity to get his half-brother out of the way so he can have his father's empire all to himself.
								</p>
							</div>
						</div>
					
					</li>

					<li class="scene" data-post = "3" data-tag = "">
						<div class="movie" onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>The Gold Rush</h1>
									<span class="year">1925</span>
									<span class="rating">NR</span>
									<span class="duration">95 minutes</span>
								</header>
								<p>
									The Tramp travels to the Yukon to take part in the Klondike Gold Rush. He gets mixed up with some burly characters and falls in love with the beautiful Georgia. He tries to win her heart with his singular charm.
								</p>
							</div>
						</div>
					</li>
					<li class="scene" data-post = "4" data-tag = "">
						<div class="movie" onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>The Gold Rush</h1>
									<span class="year">1925</span>
									<span class="rating">NR</span>
									<span class="duration">95 minutes</span>
								</header>
								<p>
									The Tramp travels to the Yukon to take part in the Klondike Gold Rush. He gets mixed up with some burly characters and falls in love with the beautiful Georgia. He tries to win her heart with his singular charm.
								</p>
							</div>
						</div>
					</li>
					<li class="scene"  data-post = "5" data-tag = "">
						<div class="movie" onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>The Gold Rush</h1>
									<span class="year">1925</span>
									<span class="rating">NR</span>
									<span class="duration">95 minutes</span>
								</header>
								<p>
									The Tramp travels to the Yukon to take part in the Klondike Gold Rush. He gets mixed up with some burly characters and falls in love with the beautiful Georgia. He tries to win her heart with his singular charm.
								</p>
							</div>
						</div>
					</li>
					<li class="scene" data-post = "6" data-tag= "">
						<div class="movie"  onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>The Gold Rush</h1>
									<span class="year">1925</span>
									<span class="rating">NR</span>
									<span class="duration">95 minutes</span>
								</header>
								<p>
									The Tramp travels to the Yukon to take part in the Klondike Gold Rush. He gets mixed up with some burly characters and falls in love with the beautiful Georgia. He tries to win her heart with his singular charm.
								</p>
							</div>
						</div>
					</li>
					<li class="scene"  data-post = "7" data-tag = "">
						<div class="movie" onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>The Gold Rush</h1>
									<span class="year">1925</span>
									<span class="rating">NR</span>
									<span class="duration">95 minutes</span>
								</header>
								<p>
									The Tramp travels to the Yukon to take part in the Klondike Gold Rush. He gets mixed up with some burly characters and falls in love with the beautiful Georgia. He tries to win her heart with his singular charm.
								</p>
							</div>
						</div>
					</li>
					<li class="scene" data-post = "8" data-tag = "">
						<div class="movie" onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>Vengeance Valley</h1>
									<span class="year">1951</span>
									<span class="rating">NR</span>
									<span class="duration">83 minutes</span>
								</header>
								<p>
									A cattle baron takes in an orphaned boy and raises him, causing his own son to resent the boy. As they get older the resentment festers into hatred, and eventually the real son frames his stepbrother for fathering an illegitimate child that is actually his, seeing it as an opportunity to get his half-brother out of the way so he can have his father's empire all to himself.
								</p>
							</div>
						</div>
					</li>
					<li class="scene"  data-post = "9">
						<div class="movie" onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>Vengeance Valley</h1>
									<span class="year">1951</span>
									<span class="rating">NR</span>
									<span class="duration">83 minutes</span>
								</header>
								<p>
									A cattle baron takes in an orphaned boy and raises him, causing his own son to resent the boy. As they get older the resentment festers into hatred, and eventually the real son frames his stepbrother for fathering an illegitimate child that is actually his, seeing it as an opportunity to get his half-brother out of the way so he can have his father's empire all to himself.
								</p>
							</div>
						</div>
					</li>
					<li class="scene" data-post = "10" data-tag = "">
						<div class="movie" onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>Vengeance Valley</h1>
									<span class="year">1951</span>
									<span class="rating">NR</span>
									<span class="duration">83 minutes</span>
								</header>
								<p>
									A cattle baron takes in an orphaned boy and raises him, causing his own son to resent the boy. As they get older the resentment festers into hatred, and eventually the real son frames his stepbrother for fathering an illegitimate child that is actually his, seeing it as an opportunity to get his half-brother out of the way so he can have his father's empire all to himself.
								</p>
							</div>
						</div>
					</li>
					<li class="scene" data-post = "11" data-tag = "">
						<div class="movie" onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>Vengeance Valley</h1>
									<span class="year">1951</span>
									<span class="rating">NR</span>
									<span class="duration">83 minutes</span>
								</header>
								<p>
									A cattle baron takes in an orphaned boy and raises him, causing his own son to resent the boy. As they get older the resentment festers into hatred, and eventually the real son frames his stepbrother for fathering an illegitimate child that is actually his, seeing it as an opportunity to get his half-brother out of the way so he can have his father's empire all to himself.
								</p>
							</div>
						</div>
					</li>
					<li class="scene" data-post = "12" data-tag = "">
						<div class="movie" onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>Vengeance Valley</h1>
									<span class="year">1951</span>
									<span class="rating">NR</span>
									<span class="duration">83 minutes</span>
								</header>
								<p>
									A cattle baron takes in an orphaned boy and raises him, causing his own son to resent the boy. As they get older the resentment festers into hatred, and eventually the real son frames his stepbrother for fathering an illegitimate child that is actually his, seeing it as an opportunity to get his half-brother out of the way so he can have his father's empire all to himself.
								</p>
							</div>
						</div>
					</li>
					<li class="scene" data-post = "13" data-tag = "">
						<div class="movie"  onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>Vengeance Valley</h1>
									<span class="year">1951</span>
									<span class="rating">NR</span>
									<span class="duration">83 minutes</span>
								</header>
								<p>
									A cattle baron takes in an orphaned boy and raises him, causing his own son to resent the boy. As they get older the resentment festers into hatred, and eventually the real son frames his stepbrother for fathering an illegitimate child that is actually his, seeing it as an opportunity to get his half-brother out of the way so he can have his father's empire all to himself.
								</p>
							</div>
						</div>
					</li>
					<li class="scene"  data-post = "14" data-tag = "">
						<div class="movie" onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>Vengeance Valley</h1>
									<span class="year">1951</span>
									<span class="rating">NR</span>
									<span class="duration">83 minutes</span>
								</header>
								<p>
									A cattle baron takes in an orphaned boy and raises him, causing his own son to resent the boy. As they get older the resentment festers into hatred, and eventually the real son frames his stepbrother for fathering an illegitimate child that is actually his, seeing it as an opportunity to get his half-brother out of the way so he can have his father's empire all to himself.
								</p>
							</div>
						</div>
					</li>
					<li class="scene" data-post = "15" data-tag = "">
						<div class="movie" onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>Vengeance Valley</h1>
									<span class="year">1951</span>
									<span class="rating">NR</span>
									<span class="duration">83 minutes</span>
								</header>
								<p>
									A cattle baron takes in an orphaned boy and raises him, causing his own son to resent the boy. As they get older the resentment festers into hatred, and eventually the real son frames his stepbrother for fathering an illegitimate child that is actually his, seeing it as an opportunity to get his half-brother out of the way so he can have his father's empire all to himself.
								</p>
							</div>
						</div>
					</li>
					<li class="scene" data-post = "16" data-tag= "">
						<div class="movie" onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>Vengeance Valley</h1>
									<span class="year">1951</span>
									<span class="rating">NR</span>
									<span class="duration">83 minutes</span>
								</header>
								<p>
									A cattle baron takes in an orphaned boy and raises him, causing his own son to resent the boy. As they get older the resentment festers into hatred, and eventually the real son frames his stepbrother for fathering an illegitimate child that is actually his, seeing it as an opportunity to get his half-brother out of the way so he can have his father's empire all to himself.
								</p>
							</div>
						</div>
					</li>
					<li class="scene" data-post = "17" data-tag= "">
						<div class="movie" onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>Vengeance Valley</h1>
									<span class="year">1951</span>
									<span class="rating">NR</span>
									<span class="duration">83 minutes</span>
								</header>
								<p>
									A cattle baron takes in an orphaned boy and raises him, causing his own son to resent the boy. As they get older the resentment festers into hatred, and eventually the real son frames his stepbrother for fathering an illegitimate child that is actually his, seeing it as an opportunity to get his half-brother out of the way so he can have his father's empire all to himself.
								</p>
							</div>
						</div>
					</li>
					<li class="scene" data-post = "18" data-tag= "">
						<div class="movie" onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>Vengeance Valley</h1>
									<span class="year">1951</span>
									<span class="rating">NR</span>
									<span class="duration">83 minutes</span>
								</header>
								<p>
									A cattle baron takes in an orphaned boy and raises him, causing his own son to resent the boy. As they get older the resentment festers into hatred, and eventually the real son frames his stepbrother for fathering an illegitimate child that is actually his, seeing it as an opportunity to get his half-brother out of the way so he can have his father's empire all to himself.
								</p>
							</div>
						</div>
					</li>
					<li class="scene" data-post = "19" data-tag= "" >
						<div class="movie" onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>Vengeance Valley</h1>
									<span class="year">1951</span>
									<span class="rating">NR</span>
									<span class="duration">83 minutes</span>
								</header>
								<p>
									A cattle baron takes in an orphaned boy and raises him, causing his own son to resent the boy. As they get older the resentment festers into hatred, and eventually the real son frames his stepbrother for fathering an illegitimate child that is actually his, seeing it as an opportunity to get his half-brother out of the way so he can have his father's empire all to himself.
								</p>
							</div>
						</div>
					</li>
					<li class="scene" data-post = "20" data-tag= "">
						<div class="movie" onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>Vengeance Valley</h1>
									<span class="year">1951</span>
									<span class="rating">NR</span>
									<span class="duration">83 minutes</span>
								</header>
								<p>
									A cattle baron takes in an orphaned boy and raises him, causing his own son to resent the boy. As they get older the resentment festers into hatred, and eventually the real son frames his stepbrother for fathering an illegitimate child that is actually his, seeing it as an opportunity to get his half-brother out of the way so he can have his father's empire all to himself.
								</p>
							</div>
						</div>
					</li>
					<li class="scene" data-post = "21" data-tag= "">
						<div class="movie" onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>Vengeance Valley</h1>
									<span class="year">1951</span>
									<span class="rating">NR</span>
									<span class="duration">83 minutes</span>
								</header>
								<p>
									A cattle baron takes in an orphaned boy and raises him, causing his own son to resent the boy. As they get older the resentment festers into hatred, and eventually the real son frames his stepbrother for fathering an illegitimate child that is actually his, seeing it as an opportunity to get his half-brother out of the way so he can have his father's empire all to himself.
								</p>
							</div>
						</div>
					</li>
					<li class="scene" data-post = "22" data-tag= "">
						<div class="movie" onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>Vengeance Valley</h1>
									<span class="year">1951</span>
									<span class="rating">NR</span>
									<span class="duration">83 minutes</span>
								</header>
								<p>
									A cattle baron takes in an orphaned boy and raises him, causing his own son to resent the boy. As they get older the resentment festers into hatred, and eventually the real son frames his stepbrother for fathering an illegitimate child that is actually his, seeing it as an opportunity to get his half-brother out of the way so he can have his father's empire all to himself.
								</p>
							</div>
						</div>
					</li>
					<li class="scene" data-post = "23" data-tag= "">
						<div class="movie" onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>Vengeance Valley</h1>
									<span class="year">1951</span>
									<span class="rating">NR</span>
									<span class="duration">83 minutes</span>
								</header>
								<p>
									A cattle baron takes in an orphaned boy and raises him, causing his own son to resent the boy. As they get older the resentment festers into hatred, and eventually the real son frames his stepbrother for fathering an illegitimate child that is actually his, seeing it as an opportunity to get his half-brother out of the way so he can have his father's empire all to himself.
								</p>
							</div>
						</div>
					</li>
					<li class="scene" data-post = "24" data-tag= "">
						<div class="movie" onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>Vengeance Valley</h1>
									<span class="year">1951</span>
									<span class="rating">NR</span>
									<span class="duration">83 minutes</span>
								</header>
								<p>
									A cattle baron takes in an orphaned boy and raises him, causing his own son to resent the boy. As they get older the resentment festers into hatred, and eventually the real son frames his stepbrother for fathering an illegitimate child that is actually his, seeing it as an opportunity to get his half-brother out of the way so he can have his father's empire all to himself.
								</p>
							</div>
						</div>
					</li>
					<li class="scene" data-post = "25" data-tag= "">
						<div class="movie" onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>Vengeance Valley</h1>
									<span class="year">1951</span>
									<span class="rating">NR</span>
									<span class="duration">83 minutes</span>
								</header>
								<p>
									A cattle baron takes in an orphaned boy and raises him, causing his own son to resent the boy. As they get older the resentment festers into hatred, and eventually the real son frames his stepbrother for fathering an illegitimate child that is actually his, seeing it as an opportunity to get his half-brother out of the way so he can have his father's empire all to himself.
								</p>
							</div>
						</div>
					</li>
					<li class="scene" data-post = "26" data-tag= "">
						<div class="movie" onclick="return true">
							<div class="poster"></div>
							<div class="info">
								<header>
									<h1>Vengeance Valley</h1>
									<span class="year">1951</span>
									<span class="rating">NR</span>
									<span class="duration">83 minutes</span>
								</header>
								<p>
									A cattle baron takes in an orphaned boy and raises him, causing his own son to resent the boy. As they get older the resentment festers into hatred, and eventually the real son frames his stepbrother for fathering an illegitimate child that is actually his, seeing it as an opportunity to get his half-brother out of the way so he can have his father's empire all to himself.
								</p>
							</div>
						</div>
					</li>

				</ul>
				</div>
				








				
			</div>
		</div><!-- /container -->
	</div>

</body>
</html>