*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
	background: #fbc73b;
	font-family: 'Lato', Arial, sans-serif;
	color: #fff;
}

.wrapper {
	margin: 0 auto 100px auto;
	max-width: 1280px;
}

.stage {
	list-style: none;
	padding: 0;
}

/*************************************
Build the scene and rotate on hover
**************************************/

.scene {
	width: 260px;
	height: 400px;
	margin: 30px;
	float: left;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}

.movie {
	width: 260px;
	height: 400px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-130px);
	-moz-transform: translateZ(-130px);
	transform: translateZ(-130px);
	-webkit-transition: -webkit-transform 350ms;
	-moz-transition: -moz-transform 350ms;
	transition: transform 350ms;
}

.movie:hover {
	-webkit-transform: rotateY(-78deg) translateZ(20px);
	-moz-transform: rotateY(-78deg) translateZ(20px);
	transform: rotateY(-78deg) translateZ(20px);
}

/*************************************
Transform and style the two planes
**************************************/

.movie .poster, 
.movie .info {
	position: absolute;
	width: 260px;
	height: 350px;
	background-color: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.movie .poster  {
	-webkit-transform: translateZ(130px);
	-moz-transform: translateZ(130px);
	transform: translateZ(130px);
	background-size: cover;
	background-repeat: no-repeat;
}

.movie .info {
	-webkit-transform: rotateY(90deg) translateZ(130px);
	-moz-transform: rotateY(90deg) translateZ(130px);
	transform: rotateY(90deg) translateZ(130px);
	border: 1px solid #B8B5B5;
	font-size: 0.75em;
}

/*************************************
Shadow beneath the 3D object
**************************************/

.csstransforms3d .movie::after {
	content: '';
	width: 260px;
	height: 260px;
	position: absolute;
	bottom: 0;
	box-shadow: 0 30px 50px rgba(0,0,0,0.3);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-transform: rotateX(90deg) translateY(130px);
	-moz-transform: rotateX(90deg) translateY(130px);
	transform: rotateX(90deg) translateY(130px);
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .movie:hover::after {
	box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
}

/*************************************
Movie information
**************************************/

.info header {
	color: #FFF;
	padding: 7px 10px;
	font-weight: bold;
	height: 195px;
	background-size: contain;
	background-repeat: no-repeat;
	text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

.info header h1 {
	margin: 0 0 2px;
	font-size: 1.4em;
}

.info header .rating {
	border: 1px solid #FFF;
	padding: 0px 3px;
}

.info p {
	padding: 1.2em 1.4em;
	margin: 2px 0 0;
	font-weight: 700;
	color: #666;
	line-height: 1.4em;
	border-top: 10px solid #555;
}

/*************************************
Generate "lighting" using box shadows
**************************************/

.movie .poster,
.movie .info,
.movie .info header {
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .movie .poster {
	box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
}

.csstransforms3d .movie:hover .poster {
	box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);
}

.csstransforms3d .movie .info, 
.csstransforms3d .movie .info header {
	box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);
}

.csstransforms3d .movie:hover .info, 
.csstransforms3d .movie:hover .info header {
	box-shadow: inset 0px 0px 40px rgba(0,0,0,0);
}

/*************************************
Posters and still images
**************************************/

/* [data-post = '1'] .movie .poster {
  background-image: url(../reviewImg/moonrise_kingdom.jpg);
}

[data-post = '2'] .poster {
  background-image: url(../reviewImg/ratatouille.jpg);
}

[data-post = '3'] .poster {
  background-image: url(../reviewImg/your_name.jpg);
}
[data-post = '4'] .poster {
  background-image: url(../reviewImg/infinity_war.jpg);
}
[data-post = '5'] .poster {
  background-image: url(../reviewImg/Crying_Out_Love_In_The_Center_Of_The_World.jpg);
}
[data-post = '6'] .poster {
  background-image: url(../reviewImg/Our_Times.jpg);
}
[data-post = '7'] .poster {
  background-image: url(../reviewImg/Ready_Player_One.jpg);
}
[data-post = '8'] .poster {
  background-image: url(../reviewImg/New_World.jpg);
}
[data-post = '9'] .poster {
  background-image: url(../reviewImg/Night_at_the_Museum.jpg);
}
[data-post = '10'] .poster {
  background-image: url(../reviewImg/GONJIAM.jpg);
}
[data-post = '11'] .poster {
  background-image: url(../reviewImg/Fifty_Shades_of_Grey.jpg);
}
[data-post = '12'] .poster {
  background-image: url(../reviewImg/La_La_Land.jpg);
}
[data-post = '13'] .poster {
  background-image: url(../reviewImg/Welcome_to_Dongmakgol.jpg);
}
[data-post = '14'] .poster {
  background-image: url(../reviewImg/Let_Me_Eat_Your_Pancreas.jpg);
}
[data-post = '15'] .poster {
  background-image: url(../reviewImg/The_Host.jpg);
}
[data-post = '16'] .poster {
  background-image: url(../reviewImg/Sherlock_Holmes.jpg);
}
[data-post = '17'] .poster {
  background-image: url(../reviewImg/Fantastic_Beasts_and_Where_to_Find_Them.jpg);
}
[data-post = '18'] .poster {
  background-image: url(../reviewImg/COCO.jpg);
}
[data-post = '19'] .poster {
  background-image: url(../reviewImg/Toy_Story.jpg);
}
[data-post = '20'] .poster {
  background-image: url(../reviewImg/About_Time.jpg);
}
[data-post = '21'] .poster {
  background-image: url(../ostImg/cf.gif);
}
[data-post = '22'] .poster {
  background-image: url(../ostImg/busan.gif);
}
[data-post = '23'] .poster {
  background-image: url(../ostImg/sl.gif);
}
[data-post = '24'] .poster {
  background-image: url(../ostImg/cgv.gif);
}
[data-post = '25'] .poster {
  background-image: url(../ostImg/music.gif);
}
[data-post = '26'] .poster {
  background-image: url(../ostImg/mori.gif);
}
[data-post = '1'] .info header {
	background-image: url(../reviewImg/mk.gif);
}

[data-post = '2'] .info header {
	background-image: url(../reviewImg/ra.gif);
}

[data-post = '3'] .info header {
	background-image: url(../reviewImg/yn.gif);
}

[data-post = '4'] .info header {
	background-image: url(../reviewImg/iw.gif);
}
[data-post = '5'] .info header {
	background-image: url(../reviewImg/co.gif);
}
[data-post = '6'] .info header {
	background-image: url(../reviewImg/ot.gif);
}
[data-post = '7'] .info header {
	background-image: url(../reviewImg/rpo.gif);
}
[data-post = '8'] .info header {
	background-image: url(../reviewImg/nw.gif);
}
[data-post = '9'] .info header {
	background-image: url(../reviewImg/natm.gif);
}
[data-post = '10'] .info header {
	background-image: url(../reviewImg/gon.gif);
}
[data-post = '11'] .info header {
	background-image: url(../reviewImg/fshg.gif);
}
[data-post = '12'] .info header {
	background-image: url(../reviewImg/lll.gif);
}
[data-post = '13'] .info header {
	background-image: url(../reviewImg/wtd.gif);
}
[data-post = '14'] .info header {
	background-image: url(../reviewImg/lmeyp.gif);
}
[data-post = '15'] .info header {
	background-image: url(../reviewImg/th.gif);
}
[data-post = '16'] .info header {
	background-image: url(../reviewImg/sh.gif);
}
[data-post = '17'] .info header {
	background-image: url(../reviewImg/fb.gif);
}
[data-post = '18'] .info header {
	background-image: url(../reviewImg/cc.gif);
}
[data-post = '19'] .info header {
	background-image: url(../reviewImg/ts.gif);
}
[data-post = '20'] .info header {
	background-image: url(../reviewImg/at.gif);
}
[data-post = '21'] .info header {
	background-image: url(../ostImg/chocolate_factory.gif);
}

[data-post = '22'] .info header {
	background-image: url(../ostImg/movie_ost.gif);
}

[data-post = '23'] .info header {
	background-image: url(../ostImg/sweet_life.gif);
}

[data-post = '24'] .info header {
	background-image: url(../ostImg/sunny.gif);
}

[data-post = '25'] .info header {
	background-image: url(../ostImg/music_illust.gif);
}
[data-post = '26'] .info header {
	background-image: url(../ostImg/moriconne.gif);
} */

/*************************************
Fallback
**************************************/
.no-csstransforms3d .movie .poster, 
.no-csstransforms3d .movie .info {
	position: relative;
}

/*************************************
Media Queries
**************************************/
@media screen and (max-width: 60.75em){
	.scene {
		float: none;
		margin: 30px auto 60px;
	}
}
