*{
	font-family: "Noto Sans KR";
}

@import './table.scss';

body{
	background-color: rgba(0,0,0,0.9);
}
.container{
	background-image: url(../images/background.png);
	background-position: 0px  150px;
	background-size: 100%,auto;
	background-repeat: no-repeat;


	background-color: black;
	padding: 0 calc(100% - 1000px)/2;
}
header{

	height: 35px;
	background-color: white;
}

#menu-tab{
	overflow: hidden;
	margin: 0 auto;
	max-width: 1220px;
}
.scene{
	transition: 1.0s;
}

#menu-tab li{
	font-size: 15px;
		text-align:center;
		color: black;
		float: left;
		width: 100px;
		padding: 7px;
}
#menu-tab li:hover{
		color: #ff3333;
}
#item-list li{
	width: 40px;
	height: 40px;
	margin-right: 10px;
	float: left;
	
}
#item-list{
	margin-right: 30px;
}

#logo{
	height: 100px;
	font-size: 30px;
	padding: 50px;
	max-width: 1280px;
	margin: 0 auto;
}
.write-box
.article-box{
	float: left;
	width: 900px;
	margin: 30px;
	height: 100%;
}
.write-box > article
.article-box > article{
	background-color: white;
	height: 2000px;
	width: 100%;
	}

.wrapper{
	height: 2000px;
	position: relative;
}

.fix{
	transition: 1.0s;
	display: none;
}


.mask {

	position:absolute;
	left:0;
	top:0;
	z-index:9999;
	background-color:#000;
	display:none;
}
.window {

	padding-top: 10px;
    display: none;
    width: 1280px;
    z-index:99999;
}
.blur{
	filter: blur(3px);
}
#article-wrap{
	max-width: 1280px;
	background-color: rgba(255,255,255,0.5);
}
article{

	overflow: hidden;
	padding: 60px;
}
*::selection {
  background: #ffff9e; /* WebKit/Blink Browsers */
}

.next-article{
	margin: 0px 50px;
	float: left;
}

.next-article > h1{
	width: 100%;
	color: white;
	background-color: black;
	font-size: 20px;
	padding: 20px;
	margin-bottom: 20px;
}
.title{
	font-size: 30px;
	overflow: hidden;
	padding: 20px;
	background-color: black;

}

.content{
	padding: 20px;
	background-color: white;
	color: black;
	font-size: 20px;
}
.date{
	text-align: right;
	color: #ff3377;
	font-size : 15px;
}
.postby{

	float: left;
	
	color: #ff3377;
	font-size: 10px;
}
.auth{
	color: white;
	font-size:13px;
}
.post{

	max-width: 700px;
	float: left;
}
.posttxt  p{
	margin-top: 20px;
}
.tags{
	padding: 20px;
	background-color: white;

}

.tags > ul li{
	float: left;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	background-color: black;
	color: white;


}
.tags > ul {
	overflow: hidden;
}
.tags > ul li:hover{
	background-color: #ff3377;

}
.tags > h1{
	color: black;
	font-size: 20px;
	font-weight: bold;
}

.widebottom{
	width: 700px;
	height: 100px;

	background-image: url(../images/widebottom.png);
	background-size: 700px auto;
	background-repeat: no-repeat;
}
div.views{
	clear: left;
	float: left;
	color: #ff3377;
	font-size: 7px;

}
span.views{
	color: white;
	font-size: 15px;
}

.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
  
  
}
.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }

.like {
	margin-top: -50px;
	float: right;
  	background: linear-gradient(135deg, #121721 0%, #000000 100%) relative;
  	color: #FFF;
	 font: 300 16px/1.5 "Open Sans", sans-serif;
}

.postname{
	display: block;
	height: 100px;

	clear: left;
}

.info p{
	display: block;
	font-size: 7px;
	overflow: hidden;

}
.info{
	margin-bottom: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.likeposts{
	
	padding: 20px;
	font-size: 20px;
	height: 60px;
	color: #ff7fb3;
	width: 320px;
	float: left;
	margin-left: 50px;
	margin-top: 30px;
	background-color: black;
}
.liketitle li{
	border-bottom: 1px dotted white;
	background-color: black;
	float: left;
	width: 320px;
	height: 50px;
	padding: 20px;
	padding-top: 10px;
	font-size: 20px;
	color: white;
	background-color: black;
	margin-left: 50px;
}
.liketitle li:hover{
	background-color: #ff7fb3;
	color: black;
	border: none;
}

.tag-nav li{
	float: right;

} 	


@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');


.auth-container{
	margin: 0;
	padding: 0;
	outline: 0;
	display: none;
	float: right;
	background-color: #212121;
	color: #fafafa;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 35%;
}

.auth-container h1{
	color: #fafafa;
	text-align: center;
	margin: 25px 0;
	font-family: 'Roboto',sans-serif;
	font-size: 2.5rem;	
}
.input-group input{
	border:none;
	background-color: transparent;
	border-bottom: 2px solid #fafafa;
	color: #fafafa;
	margin: 10px;
	width: calc(100% - 30px);
	font-size: 1.3rem;
	padding: 10px 15px;
}

.input-group textarea{
	border:none;
	background-color: transparent;
	border-bottom: 2px solid #fafafa;
	color: #fafafa;
	margin: 10px;
	width: calc(100% - 30px);
	font-size: 1.3rem;
	padding: 10px 15px;	
}

.auth-res{
	display: none;
	border:none;
	background-color: transparent;
	color: #fafafa;
	margin: 10px 10px 0px 10px;
	width: calc(100% - 30px);
	font-size: 0.9rem;
	padding: 10px 15px;
}

.auth-submit{
	text-align: center;
	width: calc(100% - 40px);
	border-radius: 30px;
	padding: 10px 15px;
	background-color: transparent;
	border: 2px solid #fafafa;
	color: #fafafa;
	margin: 40px 20px;
	transition: .4s;
	cursor: pointer;
	font-size: 1rem;
	text-transform: uppercase;
	font-family: 'Open Sans',sans-serif;
}

#write-form-submit{
	

	border: 2px solid black;
	color: black;
	
}

.board-container{
	/* margin: 0;
	padding: 0;
	outline: 0;
	display: none;
	float: right;
	background-color: #212121;
	color: #fafafa;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 35%; */
}

.hashtag{
	margin: 2px;
	padding: 10px 15px;
	text-align: center;
	display: inline-block;
	border: 2px solid #fafafa;
	color: #fafafa;
	border-radius: 15px;
}

.likes-list{
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap;
  }

input.postname{
	
	width: 100%;
	border: none;
	color: white;
}

input.date{
	width: 100%;
	border: none;
	color: #ff7fb3;
}


.preview-box{
	width: 100%;
	height: 990px;
	margin-bottom: 20px;
	position: relative;
	cursor: pointer;
	background: #f4f4f4;
	display: table;
	background-size: cover;
	background-position: center center;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.35); 
}
#previewImg-preview{
	width: 50%;
	height: 220px;
}


.preview-box .dashes {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
	border: 4px dashed #ddd;
	opacity: 1; }

.preview-box label {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 0 30px;
	color: grey;
	opacity: 1; }
	.preview-box.dragging {
		background-image: none !important; }
		.preview-box.dragging .dashes {
		  animation-duration: 10s;
		  animation-name: spin;
		  animation-iteration-count: infinite;
		  animation-timing-function: linear;
		  opacity: 1 !important; }
		  .preview-box.dragging label {
		  opacity: 0.5 !important; }
		  .preview-box.hasImage .dashes, .preview-box.hasImage label {
		opacity: 0;
		pointer-events: none;
		user-select: none; }
	
	
.image-uploader{
	position: absolute;
  	top: -1000px;
}

#write-description {
	border: none;
	width: 100%;
}

#write-tags{
	border: none;
	width: 100%;
}


*, *:before, *:after {
	box-sizing: border-box; }
  
  @keyframes spin {
	from {
	  transform: rotate(0deg); }
	to {
	  transform: rotate(360deg); } }
  
  .table-wrapper {
	min-height: 100vh;
	background: #666;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300; }
  
  .table {
	display: table;
	width: 100%;
	height: 100vh;
   }
  
  .table-cell {
	display: table-cell;
	vertical-align: middle; }
  
  .modal {
	width: 300px;
	height: 400px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 40px 50px rgba(0, 0, 0, 0.35);
	padding: 40px; }
  
  #mediaFile {
	position: absolute;
	top: -1000px; }
  
  /* h1 {
	text-align: center;
	font-size: 28px;
	font-weight: normal;
	letter-spacing: 1px; } */
  
  .stat {
	width: 50%;
	text-align: center;
	float: left;
	padding-top: 20px;
	border-top: 1px solid #ddd; }
	.stat .label {
	  font-size: 11px;
	  font-weight: bold;
	  letter-spacing: 1px;
	  text-transform: uppercase; }
	.stat .num {
	  font-size: 21px;
	  padding: 3px 0; }
  
  .editable {
	position: relative; }
	.editable i {
	  position: absolute;
	  top: 10px;
	  right: -20px;
	  opacity: 0.3; }
  
  button {
	width: 100%;
	-webkit-appearance: none;
	line-height: 40px;
	color: #fff;
	border: none;
	background-color: #ea4c89;
	margin-top: 30px;
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase; }
  
